Repository surfstudio/plugins, pull requests merged in 2022-04, with the labels that each got.

#12 feat: added additional parameters to video player controller
  packages/video_player/video_player/example/lib/main.dart
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player/pubspec.yaml
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/Messages.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/TransferListenerImpl.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayer.java
  packages/video_player/video_player_android/android/src/main/java/io/flutter/plugins/videoplayer/VideoPlayerPlugin.java
  packages/video_player/video_player_android/lib/src/android_video_player.dart
  packages/video_player/video_player_android/lib/src/messages.g.dart
  packages/video_player/video_player_android/pubspec.yaml
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.h
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.h
  packages/video_player/video_player_avfoundation/ios/Classes/messages.g.m
  packages/video_player/video_player_avfoundation/lib/src/avfoundation_video_player.dart
  packages/video_player/video_player_avfoundation/lib/src/messages.g.dart
  packages/video_player/video_player_avfoundation/pigeons/messages.dart
  packages/video_player/video_player_avfoundation/pubspec.yaml
  packages/video_player/video_player_platform_interface/lib/messages.dart
  packages/video_player/video_player_platform_interface/lib/method_channel_video_player.dart
  packages/video_player/video_player_platform_interface/lib/video_player_platform_interface.dart
  packages/video_player/video_player_platform_interface/pigeons/messages.dart
  packages/video_player/video_player_web/pubspec.yaml
Labels: p: video_player, platform-ios, platform-android, platform-web

#13 feat: added flag hasInternetError
  packages/video_player/video_player/lib/video_player.dart
Labels: p: video_player

#14 feat: turn off default screen lock during video playback
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
Labels: p: video_player, platform-ios

#15 fix: added has InternetVideoError exception
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
Labels: p: video_player, platform-ios

#16 fix: затащил старые изменения для пипа
  packages/video_player/video_player/lib/video_player.dart
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.h
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
Labels: p: video_player, platform-ios

#17 fix: поле интерфейса
  packages/video_player/video_player_avfoundation/ios/Classes/FLTVideoPlayerPlugin.m
Labels: p: video_player, platform-ios
